
{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <!-- ... -->

        {% block stylesheets %}
            {#<link rel="stylesheet" href="{{ asset('build/app.css') }}">#}
            {{ encore_entry_link_tags('app') }}
            
        {% endblock %}

        {% block javascripts %}
            {#<script scr="{{ asset('styles/build/app.js') }}"></script>#}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>


    <body>
    <header>
        <h1>{% block header %}En-tête par défaut{% endblock %}</h1>
    </header>
    <main>
        {% block content %} Ceci est un contenue{% endblock %}
    </main>
    <footer>
        {% block footer %}Pied de page par défaut{% endblock %}
    </footer>


    <div>
        <button class="btnRed">Red</button>
        <button class="btnBlue">Yellow</button>
        <button class="btn yellow">My Button</button> 
    </div></br></br></br></br>

    {% for i in 0..(10-1) %}
        <p>Paragraphe numéro {{ i }}  et : {{nom}}</p>
    {% endfor %}
    </body>
</html>